body {
    --main-color: #e70634;
    --hover-color: hsl(188, 94%, 57%);
    --body-color: #1e1e2a;
    --text-color: #fcfeff;
    background-image: url("images/b.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--text-color);
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.container h2 {
    text-align: center;
    margin-top:20px;
    font-size: 50px;
    font-weight: 600;
    color: var(--body-color);
}

label {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 95%;
    height: 40px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: white;
    color: black;
    font-size: 14px;
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 165px;
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
}

button[type="submit"]:hover {
    background-color: var(--hover-color);
}

p.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.register-link {
    margin-top: 20px;
    font-size: 16px;
    color: var(--text-color);
    text-align: center;
}

.register-link a {
    color: var(--main-color);
    text-decoration: none;
}

.register-link a:hover {
    color: var(--hover-color);
}

.container container-h2{
    width:100%;
    align-items:center;
    justify-content: center;
}