.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

:root{
    --margin-left : 256px;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

*::-webkit-scrollbar {
    width: 8px; /* Chiều rộng của thanh cuộn */
  }
  
*::-webkit-scrollbar-track {
    background-color: white ; /* Màu nền của thanh cuộn */
    border-radius: 4px; /* Bo tròn các góc của thanh cuộn */
}
  
*::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của thanh cuộn */
    border-radius: 4px;
}
  
*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(102, 95, 95); /* Màu của thanh cuộn khi di chuột qua */
}

button{
    cursor: pointer;
}

header {
    position: sticky;
    top:0;
    margin: 0;
    padding: 10px;
    height: 10%;
    background-color: rgb(89, 211, 211);
    z-index: 9999;
}

.container {
    display: flex;
    justify-content: space-between;
}

.toolbar {
    margin-right: 10%;
}

.webContent{
    display: flex;
    /* padding-top: 10px; */
    width: 100%;
    /* background-color: #888; */
    
}
.avatar img{
    width: 100%;
    
}
.avatar img:hover{
    transform: rotate(180deg);
}
.leftMenu{
    /* margin-left: 500px; */
    width: 256px;
    height: 91%;
    position: fixed;
    overflow-y: hidden;   
    overflow-x: hidden;   
    padding: 10px 20px 20px ;
    z-index: 999;
    /* transition-property: translate3d(0, 0, 0); */
    /* animation-name: example;
    animation-duration: 2s; */
}

@keyframes example {
    0%{
        left: 256px;
    }
    100%{
        left: 0px;
    }
}
@keyframes example1 {
    0%{
        left: -256px;
    }
    50%{
        left: 0;
    }
    
}

.leftMenu:hover{
    overflow-y: scroll;
}



.leftMenu .btn{
    width: 210px;
    height: 45px;
    border-radius: 10px;
}

.leftMenu .btn + .btn{
    margin-top: 20px;
}

.leftMenu .material-symbols-outlined{
    height: 100%;
    width: 45px;
    font-size: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
}

.leftMenu .btn a{
    display: flex;
    width: 100%;
    height: 100%;   
}

.leftMenu .btn:hover{
    background-color: #a6c4ce;  
}

.leftMenu .btn .title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    font-size: 20px;
}

.webContent__header{
    position: fixed;
    height: 40px;
    display: flex;
    padding-left: var(--margin-left);
    width: 100%;
    z-index: 998;
    justify-content: space-between;
}

.webContent__header .list__btn{
    position: relative;
    background-color: rgb(207, 211, 211);
    display: flex;
    /* width: calc(100% - 256px); */
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* flex: calc(100% / 10); */
}

.webContent__header li{
    border-radius: 15px;
    background-color: rgb(177, 177, 224);
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 10px;
}
.webContent__header li:hover{
    background-color: rgb(129, 129, 220);
}

/* .mainContainer{
    margin-left: 100px;

} */


.mainContainer .content{
    display: block;
    margin-left: var(--margin-left);
    /* padding: 0; */
    position: relative;
    width: calc(100% - var(--margin-left));
    /* background-color: blue; */
    height: 100vh;
    margin-top: 50px;
    /* flex-wrap: wrap; */
    
   
}

/* .mainContainer__img{
    position: absolute;
    display: flex;
    width: 252px;
    height: 436px;
    top:0;
    left:0;
    transform: translateX(53px) translateY(0);  
} */

.img--border{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 8px 16px 8px;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 22px;
} 




.favourite__btn{
    position: absolute;
    margin-right: 10px;
    margin-top: 10px;
    right:0;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 42px;
    height: 42px;
    background-color: gray;
    border: none;
    color: white;
    /* background-color: red; */
    border-radius: 50%;
    z-index: 10;
}
/* .favourite__btn{
    color: red;
} */
.heart, .heart::before,
.heart::after{
    background-color: red;
}
/* .favourite__btn{
    color: red;
}
.heart, .heart::before, .heart::after{
    background-color: red;
} */
.favourite__btn span{
    font-size: 40px;
    
}
.heart {
    /* margin-top: -10px; */
    width: 20px;
    height: 20px;
    background-color: none;
    display: none;
    position: absolute;
    transform: rotate(45deg) translateX(-5px) translateY(-5px);
    /* margin: 10px 0 0 10px; */
}
  
.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    /* background-color: red; */
}

.heart:before {
    border-radius: 50% 50% 0 50%;
    left: -10px;
    bottom: 0;
}

.heart:after {
    border-radius: 50% 50% 50% 0;
    left: 0;
    bottom: 10px;
}

.toolbar{
    position: relative;
    width: 45px;
    height: 45px; 
    border: none;
    background-color: transparent;
    border-radius: 50%;

}

.start .toolbar:hover{
    background-color: #d1d1e0;
}