.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

*::-webkit-scrollbar {
    width: 8px; /* Chiều rộng của thanh cuộn */
  }
  
*::-webkit-scrollbar-track {
    background-color: white ; /* Màu nền của thanh cuộn */
    border-radius: 4px; /* Bo tròn các góc của thanh cuộn */
}
  
*::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của thanh cuộn */
    border-radius: 4px;
}
  
*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(102, 95, 95); /* Màu của thanh cuộn khi di chuột qua */
}

button{
    cursor: pointer;
}

header {
    position: sticky;
    top:0;
    margin: 0;
    padding: 10px;
    height: 10%;
    background-color: rgb(89, 211, 211);
    z-index: 9999;
}

.container {
    display: flex;
    justify-content: space-between;
}

.toolbar {
    margin-right: 10%;
}

.webContent{
    display: flex;
    padding-top: 10px;
    width: 100%;
    /* background-color: #888; */
}
.avatar img{
    width: 100%;
}

.leftMenu{
    width: 256px;
    height: 91%;
    position: fixed;
    overflow-y: hidden;   
    overflow-x: hidden;   
    padding: 10px 20px 20px ;
}

.leftMenu:hover{
    overflow-y: scroll;
}



.leftMenu .btn{
    width: 210px;
    height: 45px;
    border-radius: 10px;
}

.leftMenu .btn + .btn{
    margin-top: 20px;
}

.leftMenu .material-symbols-outlined{
    height: 100%;
    width: 45px;
    font-size: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
}

.leftMenu .btn a{
    display: flex;
    width: 100%;
    height: 100%;   
}

.leftMenu .btn:hover{
    background-color: #a6c4ce;  
}

.leftMenu .btn .title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    font-size: 20px;
}

.webContent__header{
    position: fixed;
    height: 40px;
    /* background-color: aquamarine; */
    display: flex;
    margin-left: 256px;
    width: 100%;
    z-index: 9999;
    /* justify-content: center; */
}

.webContent__header .list__btn{
    position: relative;
    /* background-color: red; */
    display: flex;
    width: calc(100% - 256px);
    justify-content: space-evenly;
    align-items: center;
}

.webContent__header li{
    border-radius: 15px;
    background-color: rgb(177, 177, 224);
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 10px;
}
.webContent__header li:hover{
    background-color: rgb(129, 129, 220);
}

.mainContainer .content{
    display: block;
    margin-left: 256px;
    padding: 0;
    position: relative;
    width: calc(100% - 256px);
    /* background-color: blue; */
    height: 100vh;
    margin-top: 50px;
    /* flex-wrap: nowrap; */
   
}

.mainContainer .content a{
    position: absolute;
}

.mainContainer__img{
    position: relative;
    display: flex;
    width: 252px;
    height: 436px;
    top:0;
    left:0;
    transform: translateX(53px) translateY(0);
}

.img--border{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 8px 16px 8px;
}

.image{
    
    width: 100%;
    height: 100%;
    border-radius: 22px;
} 

.mainContainer__img2{
    position: relative;
    display: flex;
    width: 252px;
    height: 423px;
    /* background-color: #888; */
    top:0;
    left:0;
    transform: translateX(305px) translateY(0);
}

.mainContainer__img3{
    display: flex;
    width: 252px;
    height: 435px;
    /* background-color: #888; */
    top:0;
    left:0;
    transform: translateX(557px) translateY(0);
}

.mainContainer__img4{
    display: flex;
    width: 252px;
    height: 435px;
    /* background-color: #888; */
    top:0;
    left:0;
    transform: translateX(53px) translateY(436px);
}

.mainContainer__img5{
    display: flex;
    width: 252px;
    height: 435px;
    /* background-color: #888; */
    top:0;
    left:0;
    transform: translateX(557px) translateY(435px);
}

.mainContainer__img6{
    display: flex;
    width: 252px;
    height: 435px;
    /* background-color: #888; */
    top:0;
    left:0;
    transform: translateX(305px) translateY(423px);
}

.favourite__btn{
    position: absolute;
    margin-right: 10px;
    margin-top: 10px;
    right:0;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 42px;
    height: 42px;
    background-color: gray;
    border: none;
    color: white;
    /* background-color: red; */
    border-radius: 50%;
}
.favourite__btn:hover{
    color: red;
}
.favourite__btn:hover .heart,.favourite__btn:hover .heart::before,
.favourite__btn:hover .heart::after{
    background-color: red;
}
.favourite__btn span{
    font-size: 40px;
    
}
.heart {
    /* margin-top: -10px; */
    width: 20px;
    height: 20px;
    background-color: none;
    position: absolute;
    transform: rotate(45deg) translateX(-5px) translateY(-5px);
    /* margin: 10px 0 0 10px; */
  }
  
  .heart::before,
  .heart::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    /* background-color: red; */
  }
  
  .heart:before {
    border-radius: 50% 50% 0 50%;
    left: -10px;
    bottom: 0;
  }
  
  .heart:after {
    border-radius: 50% 50% 50% 0;
    left: 0;
    bottom: 10px;
  }

.user {
    display: flex;
}
.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}