.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

header {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.toolbar {
    margin-right: 10%;
}
.webContent{
    display: flex;
}