.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

*::-webkit-scrollbar {
    width: 8px; /* Chiều rộng của thanh cuộn */
  }
  
*::-webkit-scrollbar-track {
    background-color: white ; /* Màu nền của thanh cuộn */
    border-radius: 4px; /* Bo tròn các góc của thanh cuộn */
}
  
*::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của thanh cuộn */
    border-radius: 4px;
}
  
*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(102, 95, 95); /* Màu của thanh cuộn khi di chuột qua */
}

button{
    cursor: pointer;
}

header {
    position: sticky;
    top:0;
    margin: 0;
    padding: 10px;
    height: 10%;
    background-color: rgb(89, 211, 211);
    z-index: 9999;
}

.container {
    display: flex;
    justify-content: space-between;
}

.toolbar {
    margin-right: 10%;
}

.webContent{
    display: flex;
    padding-top: 10px;
}
.avatar img{
    width: 100%;
}

.leftMenu{
    width: 256px;
    height: 91%;
    position: fixed;
    overflow-y: hidden;   
    overflow-x: hidden;   
    padding: 10px 20px 20px ;
}

.leftMenu:hover{
    overflow-y: scroll;
}



.leftMenu .btn{
    width: 210px;
    height: 45px;
    border-radius: 10px;
}

.leftMenu .btn + .btn{
    margin-top: 20px;
}

.leftMenu .material-symbols-outlined{
    height: 100%;
    width: 45px;
    font-size: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
}

.leftMenu .btn a{
    display: flex;
    width: 100%;
    height: 100%;   
}

.leftMenu .btn:hover{
    background-color: #a6c4ce;  
}

.leftMenu .btn .title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    font-size: 20px;
}

.mainContainer .content{
    display: block;
    margin-left: 256px;
    padding: 0;
    position: relative;
    width: calc(100%-256px);
    height: 100vh;
    /* flex-wrap: nowrap; */
   
}

.mainContainer .content a{
    position: absolute;
}

.mainContainer__img{
    display: block;
    width: 252px;
    height: 436px;
    top:0;
    left:0;
    transform: translateX(53px) translateY(0);
}

.img--border{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 8px 16px 8px;
}

.image{
    
    width: 100%;
    height: 100%;
    border-radius: 22px;
} 

.mainContainer__img2{
    display: block;
    width: 252px;
    height: 423px;
    /* background-color: #888; */
    top:0;
    left:0;
    transform: translateX(305px) translateY(0);
}

.mainContainer__img3{
    display: block;
    width: 252px;
    height: 435px;
    /* background-color: #888; */
    top:0;
    left:0;
    transform: translateX(557px) translateY(0);
}

.mainContainer__img4{
    display: block;
    width: 252px;
    height: 435px;
    /* background-color: #888; */
    top:0;
    left:0;
    transform: translateX(53px) translateY(436px);
}

.mainContainer__img5{
    display: block;
    width: 252px;
    height: 435px;
    /* background-color: #888; */
    top:0;
    left:0;
    transform: translateX(557px) translateY(435px);
}

.mainContainer__img6{
    display: block;
    width: 252px;
    height: 435px;
    /* background-color: #888; */
    top:0;
    left:0;
    transform: translateX(305px) translateY(423px);
}